body {
    font-family: 'Montserrat', sans-serif;
    color: #383535;
    margin: 0 auto;
  }
  
  .top-wrapper {
    background: linear-gradient(90deg, #FBFBFB 0%, #FBFBFB 900px, white 900px, white 100%);
    height: 590px;
    width: 100%;
  }
  
  @media (max-width: 375px) {
  
    .top-wrapper {
        height: 410px;
        width: 100%;
    }
  }
  
  
  // パンくず
  .breadcrumbs-wrapper {
    margin: 110px 0 67px 340px;
  
    .breadcrumb {
        margin: 0;
        padding: 0;
        list-style: none;
  
        li {
            display: inline;
            list-style: none;
            font-size: 13px;
            letter-spacing: 1.3px;
  
            &::after {
                content: url(./images/矢印アイコン.png);
                padding: 10px;
            }
  
            &:last-child::after {
                content: '';
            }
  
            a {
                text-decoration: none;
                color: #888888;
            }
        }
    }
  }
  
  @media (max-width: 375px) {
    .breadcrumbs-wrapper {
        display: none;
    }
  }
  
  // インタビューヘッダー
  .interview-wrapper {
    background-image: url(./images/Interview.png);
    background-repeat: no-repeat;
    background-size: 1088px;
    background-position: 2% 0%;
  
  
    .interview-header {
        display: flex;
        justify-content: space-around;
  
        .interview-header-message {
            margin-left: 185px;
  
            h1 {
                display: inline-block;
                font-size: 50px;
                font-weight: bold;
                color: #EF757D;
                line-height: 1.5;
                margin-top: 30px;
            }
  
            p {
                display: block;
                font-size: 16px;
                letter-spacing: 1.12px;
                line-height: 1.5;
                margin-top: 30px;
  
  
                .br-sp {
                    display: none;
                }
            }
        }
  
        .interview-header-image {
            max-width: 613px;
        }
    }
  }
  
  main {
    width: 100%;
  }
  
  .interview-contents {
    max-width: 1366px;
    margin: 30px auto;
  
  
  }
  
  @media (max-width: 375px) {
    .interview-wrapper {
        background-size: contain;
        margin: 0;
        background-position: 0% 5%;
  
        .br-pc {
            display: none;
        }
  
        .interview-header {
            display: flex;
            flex-direction: column;
  
            .interview-header-message {
                position: relative;
                margin-left: 0;
  
                h1 {
                    font-size: 30px;
                    letter-spacing: 1px;
                    display: inline-block;
                    margin: 57px 0 59px 17px;
  
                }
  
                p {
                    font-size: 13px;
                    letter-spacing: 0.91px;
                    position: absolute;
                    top: 315px;
                    width: 334px;
                    padding: 35.61px 0px 40px 18px;
  
                }
            }
  
            .interview-header-image {
                width: 100%;
                padding: 0;
  
            }
        }
    }
  }
  @media (max-width:1024px) {
    .interview-header-message h1{
        font-size: 30px;
    }
    .interview-header-image{
        width: 30%;
        object-fit: cover;
    }
  }
  
  //インタビュー１
  .interview-contents-kids {
    display: flex;
    flex-direction: column;
  
    .interview-contents-kids-fun {
        margin: 0 auto;
  
        .interview-contents-kids-fun-image {
            max-width: 966px;
        }
  
        h2 {
            font-size: 26px;
            font-weight: bold;
            margin: 60px 74px;
            letter-spacing: 2.08px;
            line-height: 1;
  
        }
  
        .interview-contents-kids-text-child {
            margin: 35px 16px 25px 55px;
            font-size: 16px;
            letter-spacing: 1.6px;
            line-height: 1.5;
        }
  
        .interview-contents-kids-text-mother {
            margin: 0 84px 74px 55px;
            font-size: 16px;
            letter-spacing: 1.6px;
            line-height: 1.5;
  
        }
  
    }
  
  
  
    .interview-contents-kids-good {
        background-image: url(./images/kids2.png);
        height: 368.85px;
        background-repeat: no-repeat;
        position: relative;
        margin-left: 200px;
  
        .interview-contents-kids-good-text {
            border-radius: 40px;
            background-color: white;
            position: absolute;
            top: 90px;
            left: 400px;
  
        }
  
        h2 {
            font-size: 24px;
            font-weight: bold;
            padding: 35.43px 0 0 43px;
            letter-spacing: 1.92px;
            line-height: 1.5;
        }
  
        .interview-contents-kids-text-child {
            font-size: 16px;
            letter-spacing: 1.6px;
            padding: 40px 43px 25px 45px;
            line-height: 1.5;
  
  
  
        }
  
        .interview-contents-kids-text-mother {
            font-size: 16px;
            letter-spacing: 1.6px;
            padding: 0 43px;
            margin-bottom: 53.57px;
            line-height: 1.5;
        }
    }
  }
  // レスポンシブ
  @media (max-width:1150px) {
    .interview-contents-kids-good-text{
        top:0px !important;    
    }
  }
  
  @media (max-width: 375px) {
    .interview-contents-kids {
        margin: 0 auto;
  
        .br-pc {
            display: none;
        }
  
        .interview-contents-kids-fun {
            margin-top: 16px;
  
            .interview-contents-kids-fun-image {
                width: 339px;
                height: 148px;
                margin-left: 18px;
            }
  
            h2 {
                font-size: 20px;
                font-weight: bold;
                margin: 27px 0 25px 18px;
                letter-spacing: 1.28px;
                line-height: 1.3;
            }
  
            .br-pc {
                display: none;
            }
  
            .interview-contents-kids-text-child {
                margin: 25px 18px;
                font-size: 16px;
                letter-spacing: 1.28px;
                line-height: 1.5;
            }
  
            .interview-contents-kids-text-mother {
                margin: 0 21px 45px 18px;
                font-size: 16px;
                letter-spacing: 1.28px;
                line-height: 1.5;
            }
        }
  
        .interview-contents-kids-good {
            background-image: url(./images/kids2.png);
            position: relative;
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: 18px;
            width: 339px;
            height: 226.11px;
  
            .interview-contents-kids-good-text {
                border-radius: 40px;
                background-color: white;
                position: absolute;
                top: 250px;
                left: -5px;
            }
  
            .br-pc {
                display: none;
            }
  
            h2 {
                font-size: 20px;
                font-weight: bold;
                padding: 26.89px 0 0 18px;
                letter-spacing: 1.6px;
                line-height: 1.3;
            }
  
            .interview-contents-kids-good {
                font-size: 16px;
                letter-spacing: 1.28px;
                padding: 25px 0 25px 18px;
                line-height: 1.5;
            }
  
            .interview-contents-kids-text-mother {
                font-size: 16px;
                letter-spacing: 1.28px;
                padding: 0 18px 0px 18px;
                margin-bottom: 50px;
                line-height: 1.5;
            }
        }
    }
  }
  
  
  
  // インタビュー２
  
  .interview-contents-jr {
    display: flex;
    flex-direction: column;
    margin-top: 125px;
    margin-left: 200px;
  
    .interview-contents-jr-fun {
  
        .interview-contents-jr-fun-image {
            max-width: 966px;
        }
  
        h2 {
            font-size: 26px;
            font-weight: bold;
            margin: 60px 0 60px 74px;
            letter-spacing: 2.08px;
            line-height: 1;
  
        }
  
        .interview-contents-jr-text-box-up {
            .interview-contents-jr-text-sakura {
                margin: 35px 0 25px 55px;
                font-size: 16px;
                letter-spacing: 1.6px;
                line-height: 1.5;
  
                .br-sp {
                    display: none;
                }
  
            }
  
            .interview-contents-jr-text-aina {
                margin: 0 0 25px 55px;
                font-size: 16px;
                letter-spacing: 1.6px;
                line-height: 1.5;
  
                .br-sp {
                    display: none;
                }
  
            }
        }
  
        .interview-contents-jr-text-box-down {
            .interview-contents-jr-text-sakura {
                margin: 35px 0 25px 55px;
                font-size: 16px;
                letter-spacing: 1.6px;
                line-height: 1.5;
  
                .br-sp {
                    display: none;
                }
  
            }
  
            .interview-contents-jr-text-aina {
                margin: 0 0 74px 55px;
                font-size: 16px;
                letter-spacing: 1.6px;
                line-height: 1.5;
  
                .br-sp {
                    display: none;
                }
  
            }
        }
  
    }
  
  
  
    .interview-contents-jr-dream {
        background-image: url(./images/jr2.png);
        height: 368.85px;
        background-repeat: no-repeat;
        position: relative;
  
        .interview-contents-jr-dream-text {
            border-radius: 40px;
            background-color: white;
            position: absolute;
            top: 90px;
            left: 412px;
        }
  
        h2 {
            font-size: 24px;
            font-weight: bold;
            padding: 35px 105px 33px 45px;
            line-height: 1.3;
            letter-spacing: 1;
        }
  
        .interview-contents-jr-text-sakura {
            font-size: 16px;
            letter-spacing: 1.6px;
            padding: 0 0 25px 45px;
            line-height: 1.5;
  
            .br-sp {
                display: none;
            }
        }
  
        .interview-contents-jr-text-aina {
            font-size: 16px;
            letter-spacing: 1.6px;
            padding: 0px 0 59px 45px;
            margin-bottom: 53.57px;
            line-height: 1.5;
  
            .br-sp {
                display: none;
            }
        }
    }
  }
  // レスポンシブ
  @media (max-width:1150px) {
    .interview-contents-jr-dream-text{
        top:0px !important;    
    }
  }
  @media (max-width: 375px) {
    .interview-contents-jr {
        display: flex;
        flex-direction: column;
        margin: 250px 0;
  
        .interview-contents-jr-fun {
  
  
            .interview-contents-jr-fun-image {
                width: 339px;
                height: 147.74px;
                margin-top: 150px;
                margin-bottom: 27.26px;
                margin-left: 18px;
            }
  
            h2 {
                display: inline;
                font-size: 20px;
                font-weight: bold;
                letter-spacing: 1.6px;
                margin-left: 18px;
            }
  
            .interview-contents-jr-text-box-up {
                .br-pc {
                    display: none;
                }
  
                .interview-contents-jr-text-sakura {
                    width: 339px;
                    margin-left: 18px;
                    font-size: 16px;
                    letter-spacing: 1.28px;
                    margin-top: 25px;
  
                }
  
                .interview-contents-jr-text-aina {
                    width: 339px;
                    margin-left: 18px;
                    font-size: 16px;
                    letter-spacing: 1.28px;
                    line-height: 1.5;
                    margin-top: 25px;
  
                }
            }
  
            .interview-contents-jr-text-box-down {
                .interview-contents-jr-text-sakura {
                    width: 339px;
                    font-size: 16px;
                    letter-spacing: 1.28px;
                    line-height: 1.5;
                    margin: 25px 0 0 18px;
  
                }
  
                .interview-contents-jr-text-aina {
                    width: 339px;
                    margin-left: 18px;
                    font-size: 16px;
                    letter-spacing: 1.28px;
                    line-height: 1.5;
                    margin-top: 25px;
                    margin-bottom: 25px;
  
                }
            }
  
        }
  
  
  
        .interview-contents-jr-dream {
            background-image: url(./images/jr2.png);
            background-size: contain;
            width: 339px;
            margin-left: 18px;
            background-repeat: no-repeat;
            position: relative;
  
            .interview-contents-jr-dream-text {
                border-radius: 40px;
                background-color: white;
                position: absolute;
                top: 250px;
                left: 0;
  
            }
  
            h2 {
                font-size: 20px;
                font-weight: bold;
                line-height: 1px;
                padding: 0;
                margin: 25px auto;
  
            }
  
            .br-pc {
                display: none;
            }
  
            .interview-contents-jr-text-sakura {
                font-size: 16px;
                letter-spacing: 1.28px;
                line-height: 1.5;
                padding: 0;
                margin-bottom: 25px;
            }
  
            .interview-contents-jr-text-aina {
                font-size: 16px;
                letter-spacing: 1.6px;
                line-height: 1.5;
                padding: 0;
            }
        }
    }
  
  
  }
  
  //インタビュー３
  
  .interview-contents-high {
    margin-top: 173.15px;
    display: flex;
    flex-direction: column;
  
    .interview-contents-high-fun {
  
        .interview-contents-high-fun-image {
            max-width: 966px;
        }
  
        h2 {
            font-size: 26px;
            font-weight: bold;
            margin: 60px 0 35px 74px;
            line-height: 1;
            letter-spacing: 2.08px;
  
            .br-sp {
                display: none;
            }
  
        }
  
        .interview-contents-high-text-child {
            padding: 0 0 25px 74px;
            font-size: 16px;
            letter-spacing: 1.6px;
            line-height: 1.5;
  
            .br-sp {
                display: none;
            }
  
  
        }
  
        .interview-contents-high-text-mother {
            padding: 0 0 0 74px;
            font-size: 16px;
            letter-spacing: 1.6px;
            margin-bottom: 55px;
            line-height: 1.5;
  
            .br-sp {
                display: none;
            }
        }
  
    }
  
  
  
    .interview-contents-high-life {
        background-image: url(./images/high2.png);
        height: 368.85px;
        background-repeat: no-repeat;
        position: relative;
  
        .interview-contents-high-life-text {
            border-radius: 40px;
            background-color: white;
            position: absolute;
            top: 90px;
            left: 400px;
  
            .br-sp {
                display: none;
            }
        }
  
        h2 {
            font-size: 24px;
            font-weight: bold;
            padding: 38px 0 35px 45px;
            letter-spacing: 1.92px;
            line-height: 1.3;
        }
  
        .interview-contents-high-text-child {
            font-size: 16px;
            letter-spacing: 1.6px;
            padding: 0 0 116px 45px;
            line-height: 1.5;
  
        }
    }
  }
  
  @media (max-width: 375px) {
    .interview-contents-high {
        margin-top: 180px;
        display: flex;
        flex-direction: column;
  
        .interview-contents-high-fun {
  
            .interview-contents-high-fun-image {
                width: 339px;
                height: 147.74px;
                margin-left: 18px;
                margin-bottom: 27.26px;
            }
  
            h2 {
                display: inline;
                font-size: 20px;
                font-weight: bold;
                margin: 0;
                width: 324px;
                letter-spacing: 1.6px;
                line-height: 1.5;
            }
  
            .br-pc {
                display: none;
            }
  
            .interview-contents-high-text-child {
                padding: 0;
                font-size: 16px;
                letter-spacing: 1.28px;
                line-height: 1.5;
                margin-top: 25px;
                width: 339px;
                margin-left: 18px;
            }
  
            .interview-contents-high-text-mother {
                padding: 0;
                font-size: 16px;
                letter-spacing: 1.28px;
                margin-top: 25px;
                margin-bottom: 55px;
                line-height: 1.5;
                width: 339px;
                margin-left: 18px;
            }
  
        }
  
  
  
        .interview-contents-high-life {
            background-image: url(./images/high2.png);
            background-size: contain;
            margin: 0;
            margin-left: 18px;
            width: 339px;
            height: 316.11px;
            background-repeat: no-repeat;
            position: relative;
  
            .interview-contents-high-life-text {
                border-radius: 40px;
                background-color: white;
                position: absolute;
                top: 250px;
                left: 10px;
            }
  
            .br-pc {
                display: none;
            }
  
            h2 {
                font-size: 20px;
                font-weight: bold;
                padding: 0;
                letter-spacing: 1.6px;
                line-height: 1.3;
                margin: 26.9px 0 25px 18px;
            }
  
            .interview-contents-high-text-child {
                font-size: 16px;
                letter-spacing: 1.28px;
                line-height: 1.5;
                padding: 0;
                width: 339px;
                padding-bottom: 50px;
  
            }
        }
    }
  
  
  }
  
  // コンタクト
  
  .contact-wrapper {
    width: 100%;
    margin-top: 178.15px;
    height: 520px;
    background-color: #F29E93;
    background-image: url(./images/CONTACT.png);
    background-repeat: no-repeat;
    background-size: 895px;
    background-position: 0px 100px;
    color: #FFFFFF;
    position: relative;
  
    .contact-area {
        display: flex;
        justify-content: space-around;
  
        .contact-text {
            // margin: 90px 0 100px 460px;
  
            .contact-title {
                font-size: 60px;
                letter-spacing: 3.6px;
                line-height: 0.43;
                font-weight: bold;
                margin: 110px 100px 15px 400px;
            }
  
            .contact-sub {
                margin-top: 30px;
                font-size: 22px;
                letter-spacing: 1.1px;
                line-height: 1.2;
                margin: 30px 228px 15px 400px;
            }
  
            .contact-message {
                margin-top: 70px;
                font-size: 16px;
                letter-spacing: 1.6px;
                line-height: 1.5;
                margin: 30px 100px 15px 400px;
  
                .br-sp {
                    display: none;
                }
            }
        }
    }
  
    .contact-images {
        display: flex;
        align-items: center;
  
        img {
            width: 613px;
            height: 325px;
            margin-top: 98px;
            margin-right: 120px;
        }
    }
  
    .contact-btn {
        position: absolute;
        bottom: 40px;
        left: 490px;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 1.8px;
        line-height: 1.4;
        padding: 26px 149px 26px 144px;
        background-color: #004440;
  
        a {
            text-decoration: none;
            color: #FFFFFF;
        }
  
  
        &::after {
            content: '〉';
            position: absolute;
            right: 10px;
        }
  
        &:hover {
            background-color: #FFFFFF;
            border: 1px solid #004440;
  
            a {
                color: #004440;
            }
  
        }
  
  
    }
  
  
  
  }
  
  .contact-btn:hover::after {
    color: #004440;
  }
  @media (max-width:1024px) {
    .contact-btn{
        left:350px !important;
    }
  }
  
  @media (max-width: 375px) {
    .contact-wrapper {
        position: relative;
        margin-top: 100px !important;
        height: 585px;
  
        .contact-area {
            display: flex;
            flex-direction: column;
  
            .contact-text {
                // margin: 90px 0px 357px 0px;
  
                .contact-title {
                    font-size: 30px;
                    font-weight: bold;
                    letter-spacing: 1.8px;
                    position: absolute;
                    top: -50px;
                    left: -380px;
                }
  
                .contact-sub {
                    position: absolute;
                    font-size: 14px;
                    width: 190px;
                    top: 60px;
                    left: -380px;
                    letter-spacing: 1.12px;
                }
                .br-pc{
                    display: none;
                }
                .contact-message {
                    font-size: 13px;
                    position: absolute;
                    width: 324px;
                    top: 320px;
                    letter-spacing: 1;
                    left: -380px;
                }
            }
        }
        .contact-images {
            position: absolute;
            top: 146px;
           img{
               width: 339px;
               height: 179.78px;
               margin: 0;
               margin-left: 18px;
           }
        }
        .contact-btn {
            display: inline-block;
            position: absolute;
            bottom: 40px;
            left: 90px;
            padding: 15px 44px;
        }
    }
  }
  
  